@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Oxygen:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');

main {
    font-family: 'Oxygen', sans-serif;
}

.body-birmingham{
    background: url("../images/birmingham/Birmingham_Bull.jpg")no-repeat center center / cover ; 
    background-attachment: fixed;
}

h1{
    color:#ffffff;
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 0px 7px 7px black;
    font-weight: 600;
}

h2{
    color:#ffffff;
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow: 0px 7px 7px black;
    font-weight: 600;
}


img{
    box-shadow: 2px 2px 4px black;
}


h3{
    letter-spacing: 5px;
    text-shadow: 0px 3px 4px black;
    font-weight: 600;
}


 h6{
    color:#ffffff;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-shadow: 0px 3px 3px black;
    font-weight: 800;
    line-height: 35px;
}

p{
    font-weight: 600;
}

h2{
    font-weight: 800;
    
}
.card{
    background-color: hsl(53, 81%, 90%);
    box-shadow: 10px 10px 15px black;
}


.row{
    display: flex; 
    justify-content: center;
  flex-wrap: wrap;
}


