@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Oxygen:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* -------------------------------------- GENERAL / HOME ------------------------------------- */

body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.body-home {
    background: url('../images/image.webp') no-repeat center center/cover;
    background-attachment: fixed;
    color: white;
}

/* -------- header -------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.35) 50%, rgba(0, 0, 0, 0.0) 100%);
    color: white;
    z-index: 9;
}

.header a {
    position: relative;
    color: white;
    z-index: 9;
}

/* -------- main -------- */

main {
    padding-top: 3.5rem;
    min-height: 100vh;
}

.welcome-message-home {
    margin: 25vh auto;
    background-color: rgba(0, 177, 226, 0.8);
    text-shadow: 1px 1px 1.5px black;
    padding: 2%;
}



/* -------- footer -------- */
footer {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.0) 100%);
    color: white;
    position: relative;
}

/* ---------------------------------------- UTILITY --------------------------------------- */

.font-weight-200 {
    font-weight: 200;
}

.active-custom {
    border-bottom: 2px solid white;
}

.bg-dropdown-custom {
    background-color: rgba(0, 0, 0, 0.4);
}

.m-3px {
    margin: 3px;
}

.mt-15vh-custom {
    margin-top: 15vh;
}

.text-shadow-custom {
    text-shadow: 1px 1px 8px black;
}

.text-justify-custom {
    text-align: justify;
}

.image-margin {
    margin: 2rem auto;
}

@media (min-width: 992px) {
    .rounded-start-lg {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }
    .rounded-end-lg {
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
      }
  }

/* ---------------------------------------- LINKS ---------------------------------------- */

.navbar a:hover,
.navbar-nav a:hover {
    color: wheat;
}

.london-box-head, .birmingham-box-head, .oxford-box-head, .box-img, .oxf-readmore {
    transition: 0.15s ease-in-out;
}

.hover-expand:hover {
    .london-box-head {
        transform: scale(1.03);
    }
    .birmingham-box-head {
        transform: scale(1.03);
    }
    .oxford-box-head {
        transform: scale(1.03);
    }
    .box-img {
        transform: scale(1.03);
    }
    .oxf-readmore {
        transform: scale(1.03);
    }
}

/* ---------------------------------------- LONDON --------------------------------------- */

.body-london {
    background: url('') no-repeat center center/cover;
    background-attachment: fixed;
}

.london-box {
    padding: 2rem 2rem;
    background-color: rgba(255, 79, 79, 1);
    border-radius: 25px;
}

.london-box-head {
    background-color: rgba(40, 40, 40, 1);
    border-radius: 20px;
    box-shadow: 1px 1px 30px 2px white;
    text-shadow: 1px 4px 2.5px red;
    text-transform: uppercase;
}

/* -------------------------------------- BIRMINGHAM ------------------------------------- */

.body-birmingham {
    background: url('') no-repeat center center/cover;
    background-attachment: fixed;
}

.birmingham-box {
    padding: 2rem 2rem;
    background-color: hsl(46, 80%, 90%);
    border-radius: 25px;
}

.birmingham-box-head {
    background-color: rgb(104, 61, 5);
    border-radius: 20px;
    box-shadow: 1px 1px 20px 2px black;
    text-transform: uppercase;
}

/* ---------------------------------------- OXFORD --------------------------------------- */

.body-oxford {
    background: url('../images/oxford/oxford.webp') no-repeat center center/cover;
    background-attachment: fixed;
    color: white;
}

.welcome-message-oxford {
    margin: 25vh auto;
    background-color: rgba(255, 193, 7, 0.8);
    text-shadow: 1px 1px 1.5px black;
    padding: 2%;
}

.main-item-oxford {
    padding: 2rem 2rem;
    background-color: rgba(0, 0, 0, 0.45);
}

.c-margin {
    margin: 2rem auto;
}

#cch-carousel, #rcm-carousel, #bgdn-carousel {
    transition: 0.15s ease-in-out;
}

#cch-carousel:hover, #rcm-carousel:hover, #bgdn-carousel:hover {
    transform: scale(1.05);
}

.oxf-readmore {
    background-color: rgba(255, 193, 7, 0.8);
    border-radius: 15px;
    box-shadow: 1px 1px 20px 2px black;
}

/* -------- home -------- */

.oxford-box {
    padding: 2rem 2rem;
    background-color: rgba(255, 193, 7, 0.8);
    border-radius: 25px;
}

.oxford-box-head {
    background-color: rgba(40, 40, 40, 1);
    border-radius: 20px;
    box-shadow: 1px 1px 20px 2px black;
    text-transform: uppercase;
}

/* ---------------------------------------- MEDIA SECTION / INDEX --------------------------------------- */

.media-section {
    background-color: rgb(3, 3, 143);
    border-radius: 25px;
    padding: 0.5rem;
}

.video-container {
    background-color: rgb(38, 38, 255);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.video-container video {
    padding-bottom: 1.7rem;
}

.text-container {
    background-color: rgb(48, 68, 255);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
}

.text-container p {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 1.5rem;
}